body{
    font-family: "Poppins", sans-serif;
    background-image: url("../imagens/background.png");
    background-size: cover;
    background-position: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(7px)
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.digidevs {
    display: flex;
    gap: 30px;
    padding: 30px 0;
}

.cartao-digidev {
    display: none;
    max-width: 360px;
    border-radius: 10px;


    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cartao-digidev.aberto {
    display: block;
}

.cartao-digidev img {
    width: 100%; 
    height: 100%; 
    margin-top: 10px;
}

.cartao-digidev .cartao-topo {
    padding: 30px 40px 0;
}

.cartao-digidev .nome {
    margin-bottom: 5px;
}

.cartao-digidev .tipo {
    background-color: #ffffff;
    font-size: 12px;
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 10px;
}

.cartao-digidev .detalhes {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao-digidev .cartao-informacoes {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 80px 30px 50px;
    margin-top: -70px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cartao-digidev .cartao-informacoes h3 {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6b727a;
}

.cartao-digidev .cartao-informacoes .descricao {
    padding: 0 10px;
    font-size: 15px;
    max-height: 150px;
    overflow-y: scroll;
}

.tipo-eletrico {
    background-color: #b96900;
}

.tipo-analitico {
    background-color: #002b63d2;
}

.tipo-programador {
    background-color: #000000;
}

.tipo-matematico {
    background-color: #91003c;
}

.tipo-script {
    background-color: #00500b;
}

.tipo-defensivo {
    background-color: #444444;
}

.listagem {
    max-width: 220px;
}

.listagem .digidev img {
    width: 28%;
    padding-left: 10px;
}

.listagem .digidev {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    margin-bottom: 10px;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    min-height: 70px;
    transition: 0.15 ease-in-out;
}

.listagem .digidev:hover {
    transform: scale(1.07);
}

.listagem .digidev span {
    padding-right: 15px;
}

.listagem .digidev.ativo {
    background-color: #ffb9b9;
    border-style: solid;
    border-color: #ff0000;
}